/*
File Name: common_append.css
File Type: 非必需
Description: common append
*/

/**===============================
           重写头部
================================*/
#top_header{height:28px;{HEADER_BG_CODE}; border-bottom:1px solid #f97a41;}

/**===============================
           重新定义一些颜色
================================*/
.label-success{background-color: #fa6900;}
.label-success[href]{background-color: #fc9700;}
.alert-success{color: #c09853;background-color: #fcf8e3;border-color: #fbeed5;}
.label a,.badge a{color:#fff;}
.badge-success{background:#fa6900;}
/* color */
.nav-list > .active > a,.nav-list > .active > a:hover {background-color:#fa6900;}
input:focus,textarea:focus {border-color: #fa6900;}
.nav-pills > .active > a,.nav-pills > .active > a:hover {background-color: #fa6900;}
.dropdown-menu a:hover{background-color: #fa6900;}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {background-color: #fa6900;}
/* 按钮 */
.btn-success{background-color: #faa732;*background-color: #f89406;background-image: -ms-linear-gradient(top, #fbb450, #f89406);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));background-image: -webkit-linear-gradient(top, #fbb450, #f89406);background-image: -o-linear-gradient(top, #fbb450, #f89406);background-image: -moz-linear-gradient(top, #fbb450, #f89406);background-image: linear-gradient(top, #fbb450, #f89406);background-repeat: repeat-x;border-color: #f89406 #f89406 #ad6704;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{background-color: #f89406;*background-color: #df8505;}
.btn-success:active,.btn-success.active{background-color: #c67605 \9;}

/**===============================
           重写底部
================================*/
#footer{background: none;color:#333333;}
#footer a{color:#fa6900;}
#footer a:hover{color:#fc9700;}

/**===============================
           重写通用标签
================================*/
a.common_tag{background:#FE9500;color:#fff;}
a.common_tag:hover{background:#fa6900;}
