/*
Style Name: 默认主题
Style URI: http://doyouhaobaby.net/
Description: 这是由WindsForce 的系统自带主题
Author: 小牛哥Dyhb
Author URI: http://dianniu.net/space/3.html
Version: 1.0
License: BSD
License URI: http://doyouhaobaby.net/page/license.html
Tags: admin, light
*/


/**===============================
           多媒体公用CSS
================================*/
[CURSCRIPT=@media,home::ucenter::index,home::ucenter::view,home::attachment::show,home::space::index]
.common-media-box{margin:8px 0 8px 0px;}
.icon_add_face,.icon_add_topic,.icon_add_img,.icon_add_video,.icon_add_music{background-image: url('{__ROOT__}/Public/images/common/homefresh_icon.png');background-repeat:no-repeat;width: 22px;height: 22px;padding:4px 0px 4px 20px;line-height:22px;margin-right:5px;}
.icon_add_face{background-position: 0px 2px;}
.icon_add_topic{background-position: 0px -21px;}
.icon_add_img{background-position: 0px -47px;}
.icon_add_video{background-position: 0px -73px;}
.icon_add_music{background-position: 0px -98px;}
[/CURSCRIPT]

/**===============================
           评论公用CSS
================================*/
[CURSCRIPT=@comment,home::ucenter,home::public::index,home::stat::explore,home::attachment::show,home::space]
.commoncomment_box{margin-top:30px;}
.commoncommentlist{margin-top:10px;}
.commoncommentform_content{height:100px;width:80%;}
.commoncommentform_box{margin-top:30px;}
.commoncommentform_needloginbox{background:#F5F5F5;padding:10px;}
.commoncommentform_needloginboxinner{border:solid 1px #DDDDDD;background:#fff; text-align:center;padding:40px 0;}
[/CURSCRIPT]

/**===============================
           首页在线用户
================================*/
[CURSCRIPT=home::public::index,home::online::index]
.index_online{margin:0 10px 10px 10px;}
.index_online_list{border-top: 1px dotted #E0E0E0; margin: 0 10px;padding: 10px;}
.index_online_list ul,.index_online_list li{list-style: none outside none;margin: 0;padding: 0;}
.index_online_list li{display: block;float: left;height: 28px;overflow: hidden;width: 150px;}
[/CURSCRIPT]

/**===============================
           新鲜事
================================*/
[CURSCRIPT=home::ucenter,home::public::index,home::stat::explore]
/* 主容器 */
.homefresh-box{table-layout:fixed; word-break: break-all; overflow:hidden;}
.homefresh-box .max-limit-doing{ margin:5px 70px 0px 0px; }
.homefresh-content{table-layout:fixed; word-break: break-all; overflow:hidden;margin:10px 0px;padding:5px 10px 5px 10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin-top:5px;}
.homefresh-content:hover{}
.homefresh-count{margin:5px;}
.homefresh-count a{font-size:12px;}
/* 新鲜事标题 */
#homefresh-title-box{margin-top:10px;}
/* 列表容器 */
.message-box{ table-layout:fixed; word-break: break-all; overflow:hidden;}
.message-box .table tbody tr:hover td,
.message-box .table tbody tr:hover th {background:none;}
.message-box ul{list-style:none;}
.message-box .homefresh-header{padding-left:100px;padding-bottom:15px;}
.message-box .homefresh-header h3{margin-bottom:0px;}
.message-box .homefresh-header ul li{margin:10px 0px;}
.message-box .homefresh-author-avatar{position:absolute;margin-left:-100px;}
.message-box .user_sign{background:url("{__ROOT__}/Public/images/common/signature.png") no-repeat;padding-top:20px;}
.homefreshcomment-content{ table-layout:fixed; word-break: break-all; overflow:hidden;padding:3px 0px 10px 5px;}
/* 评论相关 */
.homefreshcomment_div{border:1px solid {INTERVAL_LINE_COLOR};padding:2px 2px;width:99%;}
.homefreshcomment_form{}
.homefreshcomment_form .homefreshcommentform_area{width:99%;height:80px;}
.homefreshcomment_item{position:relative;}
.homefreshcomment_avatar{position:absolute;top:0px;margin-right:10px;}
.homefreshcomment_avatar img{width:32px;height:32px;}
.homefreshcomment_content{position:relative;padding-left:50px;}
.homefreshcommentform_btn{margin-bottom:20px;}
.homefreshcommentlist_headerarrow{background:#FFF url('{IMG_DIR}/arrow_bg.png') no-repeat 20px 0px;height:6px;margin-left:-15px;margin-bottom:5px;}
.homefreshcommentlist_box{padding:3px 3px 0px 3px;}
.homefreshcomment_view{margin-bottom:10px;margin-top:2px;}
.homefreshcomment_date{}
.homefreshcommentitem_separator{width:100%;margin-top:9px;margin-bottom:8px;border-bottom:1px dashed {INTERVAL_LINE_COLOR};}
.homefreshchildcommentlist_box{margin-top:15px;}
/* 新鲜事已赞 */
.goodnum_click{color:#4A4A4A;}
[/CURSCRIPT]

/**===============================
           新鲜事对话框热门话题
================================*/
[CURSCRIPT=home::ucenter::index]
.homefresh_topic{width:100%;}
.tags_list{line-height: 150%;}
.tags_list a.tagslist_size{font-size: 12px;}
.tags_list a{margin: 10px 0 0;}
.tags_list a{display: inline-block;margin: 0 8px 10px 0;word-wrap: break-word;}
[/CURSCRIPT]

/**===============================
           首页其它
================================*/
[CURSCRIPT=home::public::index,home::stat::explore]
.message-box{border:1px solid #EEEEEE;padding:10px;margin-bottom:20px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;}
.site_introduction h1{color:#000;font-size:16px;}
[/CURSCRIPT]

/**===============================
           友情链接&其它
================================*/
[CURSCRIPT=home::public::index]
.home-links, .home-img-link, .home-txt-link { padding: 2px; }
.home-links ul li { list-style:none;float: left; width: 49%; height: 50px; line-height: 1.4em; }
.home-img-link a { margin-right: 8px; }
.home-img-link img { margin: 1px 0; }
.home-logo { float: left; padding-top: 2px; width: 100px; }
.home-content { padding-right: 18px; height: 50px; }
.home-content p { overflow: hidden; height: 17px; color: {LIGHT_TEXTCOLOR}; }
.home-txt-link li { float: left; margin-right: 2px; width: 8em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#home_slidebox_container{height:300px;overflow:hidden;}
[/CURSCRIPT]

/**===============================
           最新照片
================================*/
[CURSCRIPT=home::public::index]
.home_attachmentlist_box{margin-bottom:20px;}
#slidedeck_frame{width: 93%;height: 330px;}
[/CURSCRIPT]

/**===============================
           帖子列表
================================*/
[CURSCRIPT=home::public::index]
.home_topiclist_box .num {color: #999999;line-height: 18px;text-align: center;width: 140px;text-align:center;}
.home_topiclist_box .num span {background: none repeat scroll 0 0 #f3f1f1;-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;display: block;float: right;height: 36px;margin: 0 0 0 10px;overflow: hidden;padding: 4px 0;width: 54px;}
.home_topiclist_box .num em {display: block;font-weight: 700;}
.home_topiclist_box .info,.info a {color: #999999;}
.home_topiclist_box .info span {margin-right: 10px;}
.home_topiclist_box .title {padding-bottom: 5px;}
.home_topiclist_box .title a{}
.subject {padding: 10px 0 !important;}
.home_topiclist_box .subject em {font-size: 14px;margin-right: 5px;}
.home_topiclist_box .author {width: 55px;}
.home_topiclist_box .author a {display: block;}
[/CURSCRIPT]

/**===============================
           首页推荐小组列表
================================*/
[CURSCRIPT=home::public::index]
.groups {margin:5px 0 0 0;width:100%;overflow:hidden;color:#666;}
.groups li {list-style:none;_display:inline;float:left;margin-right:3%;padding:10px 0;width:46%;height:60px;border-bottom:1px solid #eee;}
.grouplist_pic {_display:inline;float:left;margin-right:12px}
.grouplist_txt {overflow:hidden;*zoom:1;background:#EEEEEE;padding:0px 3px 0px 8px;-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;}
.grouplist_txt:hover{background:#f5f5f5;}
.grouplist_txt h3{margin-right:4px;display:inline;}
.grouplist_txt span {color:#999;}
.grouplist_description {margin-top:5px;color:#666;}
.grouplist_txt h3 a{font-size:13px;}
.grouplist_title{margin-bottom:20px;}
[/CURSCRIPT]

/**===============================
           主页头像
================================*/
[CURSCRIPT=@userhome,home::ucenter]
.userinfo .user_name p{line-height:20px;margin:0;}
.userinfo{padding:0 0 10px 10px;overflow:hidden;*zoom:1}
.userinfo .userpic{width:50px;height:50px;float:left;position:relative;}
.userinfo .userpic span {}
.userinfo .userpic span img {border:#fff solid 1px;width:50px;height:50px}
.userinfo .user_name{margin-left:70px}
.userinfo .user_name a span,.userinfo .user_name a span{font-size:12px;margin:0;}
.userinfo .user_name p a {}
.userinfo .user_follow{padding:0}
.userinfo .user_follow a:link,.userinfo .user_follow a:visited{}
.userinfo .user_follow span{display:inline-block;width:45px;*width:45px;text-align:center;padding:5px 0;margin:1px 0 0 0}
[/CURSCRIPT]

/**===============================
           短消息
================================*/
[CURSCRIPT=home::pm]
.reply-pm blockquote{color:#999999;}
[/CURSCRIPT]


/**===============================
           用户提醒
================================*/
[CURSCRIPT=home::notice::index]
.notice_addhomefresh{}
.notice_title{}
.notice_content{color: #505050;padding: 5px 15px 5px 0px;}
.notice_action{padding: 3px 15px;font-size:12px;}
.notice_action a{padding:1px 5px;background-color:#ccc;color:#505050;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.notice_quote{background: url("{IMG_DIR}/quotel.gif") no-repeat scroll left 4px transparent;margin: 8px 0 0 0px;overflow: hidden;padding: 0 24px 5px 15px;width: auto;word-wrap: break-word;
}
.notice_quote .notice_quoteinfo{color: #999999;background: url("{IMG_DIR}/quoter.gif") no-repeat scroll right bottom transparent;display: inline-block;padding-right: 15px;}
.notice-note{color:#a6a6a4;font-size:12px;}
[/CURSCRIPT]

/**===============================
           上传附件
================================*/
[CURSCRIPT=home::attachment::add,home::attachment::dialog_add]
#flash-upload-ui li{list-style:none;}
.upload_type a{margin-bottom:5px;}
[/CURSCRIPT]

/**===============================
           列表缩略图公用
================================*/
[CURSCRIPT=home::attachment::attachment,home::attachment::attachmentcategory,home::attachment::my_attachment,home::attachment::my_attachmentcategory,home::attachment::index]
.thumbnail .img{display:block;width:96%;overflow:hidden;outline:none;text-align:center;border:1px solid #f0f5f8;margin:2%;}
[/CURSCRIPT]

/**===============================
           附件缩略图
================================*/
[CURSCRIPT=home::attachment::attachment,home::attachment::my_attachment]
.thumbnail .attachment_thumb{height:150px;line-height:150px; }
[/CURSCRIPT]

/**===============================
           附件分类缩略图
================================*/
[CURSCRIPT=home::attachment::attachmentcategory,home::attachment::my_attachmentcategory]
.thumbnail .attachmentcategory_thumb{height:150px;line-height:150px; }
[/CURSCRIPT]

/**===============================
           附件信息保存
================================*/
[CURSCRIPT=home::attachment::attachmentinfo]
.attachment_item{margin-bottom:10px;}
[/CURSCRIPT]

/**===============================
           对话框附件缩略
================================*/
[CURSCRIPT=home::attachment::attachment,home::attachment::my_attachment]
.dialogattachment_thumb{width:100px;height:110px;line-height:110px; }
[/CURSCRIPT]

/**===============================
           对话框专辑缩略
================================*/
[CURSCRIPT=home::attachment::attachmentcategory,home::attachment::my_attachmentcategory]
.dialogattachmentcategory_thumb{width:100px;height:110px;line-height:110px; }
[/CURSCRIPT]

/**===============================
           首页附件缩略
================================*/
[CURSCRIPT=home::attachment::index]
.attachmentindex_thumb{height:200px;line-height:200px;}
[/CURSCRIPT]

/**===============================
           首页附件缩略
================================*/
[CURSCRIPT=home::attachment::show]
#gallery {padding:2%;background: #e1eef5;width:95%;height:610px;}
[/CURSCRIPT]

/**===============================
           首页等级
================================*/
[CURSCRIPT=home::space::index]
[/CURSCRIPT]

/**===============================
           用户动态
================================*/
[CURSCRIPT=home::stat::feed,home::space::index,home::ucenter::feed]
.feed_addhomefresh{}
.feed_title{}
.feed_content{color: #505050;padding: 5px 15px 5px 0px;}
.feed_action{padding: 3px 15px;font-size:12px;}
.feed_action a{padding:1px 5px;background-color:#ccc;color:#505050;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.feed_quote{background: url("{IMG_DIR}/quotel.gif") no-repeat scroll left 4px transparent;margin: 8px 0 0 0px;overflow: hidden;padding: 0 24px 5px 15px;width: auto;word-wrap: break-word;
}
.feed_quote .feed_quoteinfo{color: #999999;background: url("{IMG_DIR}/quoter.gif") no-repeat scroll right bottom transparent;display: inline-block;padding-right: 15px;}
[/CURSCRIPT]

/**===============================
           应用列表
================================*/
[CURSCRIPT=home::apps::index]
.apps_info{position:relative;padding-left:50px;}
[/CURSCRIPT]
