/*
File Name: style.css
File Type: 不必需
Description: Group应用模块CSS
*/

/**===============================
           查看帖子
================================*/
[CURSCRIPT=group::grouptopic::view,group::group::show]
.floor{margin:0px;padding:0px;}
.floor_footerpost{margin-top:10px;padding-bottom:10px;}
.floor_headerpost{margin-top:-20px;padding:0;}
.floor_left{vertical-align:top;width:140px;}
.floor_right{vertical-align:top;padding:10px 20px;border-bottom:0 none;}
.floor_bottom{border-top:0 none;vertical-align:bottom;padding:0 20px;}
.floor_table{table-layout:fixed;}
.floor_grouptopictable{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #DDDDDD;border-bottom:none;}
.floor_grouptopictd1{background:none repeat scroll 0 0 #E5EDF2;border-right: 1px solid #C2D5E3;border-bottom: 1px solid #C2D5E3;text-align:center;}
.floor_grouptopictd2{border-bottom: 1px solid #E5EDF2;}
.floor_grouptopicbottomtd1{background: none repeat scroll 0 0 #C2D5E3;height: 4px;padding: 0;margin:0;border-right:1px solid #CDCDCD;}
.floor_grouptopicbottomtd2{background: none repeat scroll 0 0 #E5EDF2;height: 4px;padding: 0;margin:0;}

.floor_grouptopiccommenttable{background: none repeat scroll 0 0 #FFFFFF;border-left: 1px solid #DDDDDD;border-right: 1px solid #DDDDDD;border-top:none;}
.floor_grouptopiccommenttd1{padding-bottom:80px;padding-top:10px;background:none repeat scroll 0 0 #E5EDF2;border-right: 1px solid #C2D5E3;border-top: 1px solid #C2D5E3; text-align:center;}
.floor_grouptopiccommenttd2{border-top: 1px solid #E5EDF2;}
.floor_grouptopiccommentbottomtd1{background: none repeat scroll 0 0 #C2D5E3;height: 4px;padding: 0;margin:0;border-right:1px solid #CDCDCD;}
.floor_grouptopiccommentbottomtd2{background: none repeat scroll 0 0 #E5EDF2;height: 4px;padding: 0;margin:0;}
.floor_grouptopiccommentbottom{border-bottom: 1px solid #CDCDCD;padding: 0;margin:0;}

.floor_footerposttable{table-layout:fixed;margin-top:-15px;margin-bottom:-20px;}
.grouptopiccomment_form{margin-bottom:-15px;}
.floor_footerpostcontenttable{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #DDDDDD;}
.floor_footerpostcontenttd1{padding-bottom:80px;padding-top:10px;background:none repeat scroll 0 0 #E5EDF2;border-bottom:1px solid #DDDDDD;border-right: 1px solid #C2D5E3; text-align:center;}

.floor_footerposttitle{background:#378C32;padding:5px 10px;color:#fff;}

.grouptopiccontent_box{min-height:100px;}

.post_num{float:right;overflow:hidden;margin-top:2px;*width:150px;}
.post_num ul{margin-left:-1px;float:right;}
.post_num li{list-style:none;float:left;padding:0 10px;border-left:1px solid #ccc;line-height:14px;color:#999999;}

.floor_info{padding:0 0 30px 0;}
.floor_title{padding:5px 0 15px;border-bottom:1px dashed #dddddd;margin-bottom:10px;}
.floor_title h1{font-size:16px;line-height:18px;}
.floor_top_tips{padding:0 0 10px;margin-bottom:5px;color:#666;}
.floor_top_tips .floor_copy{float:right;font-size:24px;color:#bbb;line-height:1.3;}
.floor_top_tips .floor_copy sup{font-size:12px;}
.floor_bottom_tips{padding:10px 0;color:#666;height:20px;}
.floor_bottom_tips a{color:#666;}
.floor_userinfocount{margin:auto;width:70%;}
.floor_userinfooperate{margin-top:10px;text-align:center;}

.floor_quickreply{margin-bottom:10px;margin-top:5px;}
.grouptopiccomment_quickmessage{margin-bottom:0px;width:70%;height:50px;}
.grouptopiccomment_reply{display:none;line-height:32px;}
.grouptopiccomment_btn{margin:8px;padding-top:1px;padding-bottom:1px;}
.signature{background:url("{__ROOT__}/Public/images/common/signature.png") 0 0 no-repeat;padding:25px 0 20px;max-height:200px;}
.edit_log{color:#cccccc;margin-top:8px;}

.clear:after,.clearfix:after{content:".";display:none;height:0;clear:both;visibility:hidden;}
.clear,.clearfix{display:inline;}

.floor_groupuserfollow {padding: 10px 0;color: #666666;margin:auto;width:80%;text-align:left;}
.floor_groupuserfollow th {border-right: 1px solid #CCCCCC;font-weight:normal;}
.floor_groupuserfollow th, .floor_groupuserfollow td {font-size: 12px;text-align: center;}

.floor_userinforating{margin:auto;width:75%;text-align:left;margin-bottom:5px;}

.floor_userinfoname {padding-left: 15px;}
.floor_userinfoname {height: 16px;margin-bottom: 10px;overflow: hidden;padding: 5px 0;}

.floor_userinfonameinner{margin:auto;text-align:left;width:75%;}
.floor_userinfonikename, .floor_userinfonikename a {color: #999999 !important;}
.floor_userinfonikename{margin:auto;width:75%;text-align:left;margin-bottom:5px;color: #999999 !important;}

.grouptopicview_info{ display:none;}
.grouptopicview_tip{padding:12px 11px 25px 11px; margin:-1px 0 0 -1px;border:1px solid #DDDDDD;width:450px;display:none;background:#FEFEFE;-webkit-border-radius: 0px 5px 5px 0px;-moz-border-radius: 0px 5px 5px 0px;border-radius: 0px 5px 5px 0px;-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;}
.grouptopicview_tip .grouptopicview_info{ display:block; position:absolute; top:10px; left:150px; line-height:25px;}
.grouptopicview_info table td{padding:0 8px;}
.group_avatar{background:#FFFFFF;padding: 4px 4px 6px 4px;}
.grouptopicview_tablebox{ margin-left:-8px; }

/* 帖子工具条 */
.extend_tool{border-top:1px dashed #CDCDCD;padding:10px 0px 0px 5px;}
.extend_tool em a{padding:5px 10px 5px 25px;}
.extend_tool .fastre{background:url('{__ROOT__}/app/group/Static/Images/fastreply.gif') no-repeat 0 50%;}
.extend_tool .editp{background:url('{__ROOT__}/app/group/Static/Images/edit.gif') no-repeat 4px 50%;}

/* 小组新风格 */
#grouptopicnew_show h1{font-size:22px;color:#333;text-align:left;line-height:100%;margin-bottom:8px}
#grouptopicnew_show .infos{position:relative;margin-bottom:10px;margin-right:56px;border-bottom:1px solid #ddd;margin:0 -10px;padding:0 10px 5px 10px}

#grouptopicnew_show .avatar_large{width:48px;}
.grouptopicsnew .grouptopic a:link,.grouptopicsnew .grouptopic a:visited{color:#2c64d7;text-decoration:none;}
.grouptopicsnew .grouptopic .title a:hover{text-decoration:underline;}
.grouptopicsnew .grouptopic .avatar{width:56px;margin-left:10px;}
.grouptopicsnew .grouptopic .infos{padding-right:74px;}
.grouptopicsnew .grouptopic .info{color:#bbb;margin-bottom:2px;font-size:12px;}
.grouptopicsnew .grouptopic .info .grouptopiccategory{padding:1px 5px;color:#778087;text-decoration:none;background-color:#f5f5f5;}
.grouptopicsnew .grouptopic .info em{font-style:normal;}
.grouptopicsnew .grouptopic a:link,.grouptopicsnew .grouptopic a:visited{color:#999;text-decoration:underline;}
.grouptopic .grouptopic-content{margin-bottom:10px;margin-top:8px;}
.grouptopic .grouptopic-content img{max-width:690px;}

#grouptopiccomments .total{padding:0 10px 6px 10px;border-bottom:1px solid #DDD;color:#999;margin:0 -10px;}
#grouptopiccomments .grouptopiccommentnew_reply{border-bottom:1px solid #DDD;padding:8px 10px;margin:0 -10px;background:#FFF;}
#grouptopiccomments .grouptopiccommentnew_reply .face{padding-right:8px;width:48px;margin-left:0;}
#grouptopiccomments .grouptopiccommentnew_reply .infos{padding-left:58px;}
#grouptopiccomments .grouptopiccommentnew_reply .info{font-size:12px;color:#bbb;height:20px;}
#grouptopiccomments .grouptopiccommentnew_reply .info a:link,#replies .reply .info a:visited{color:#999;}
#grouptopiccomments .grouptopiccommentnew_reply .info .name{float:left;}
#grouptopiccomments .grouptopiccommentnew_reply .info .name a{text-decoration:underline;margin-right:8px;}
#grouptopiccomments .grouptopiccommentnew_reply .info .floorcopy_box{float:right;text-align:right;}
#grouptopiccomments .grouptopiccommentnew_reply .info .floorcopy_box a{margin-left:5px;}
#grouptopiccomments .grouptopiccommentnew_reply .info .floorcopy_box a:hover{text-decoration:none;}
#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content{margin-bottom:20px;}
#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content img{max-width:622px;}

.grouptopicsnew .grouptopic .grouptopic-content,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content{position:relative;line-height:160%;font-size:14px;text-overflow:ellipsis;word-wrap:break-word;}
.grouptopicsnew .grouptopic .grouptopic-content p,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content p{font-size:14px;line-height:160%;margin-bottom:10px;}
.grouptopicsnew .grouptopic .grouptopic-content blockquote p,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content blockquote p{font-size:13px;color:#666;font-weight:normal;line-height:150%;}
.grouptopicsnew .grouptopic .grouptopic-content code,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content code{margin:0 2px;font-family:Monaco,Menlo, "Courier New", monospace;}
.grouptopicsnew .grouptopic .grouptopic-content pre,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content pre{font-family:Monaco,Menlo,"Courier New", monospace;}
.grouptopicsnew .grouptopic .grouptopic-content a:link,.grouptopicsnew .grouptopic .grouptopic-content a:visited,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content a:link,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content a:visited{font-size:13px;color:#0069D6;text-decoration:none;}
.grouptopicsnew .grouptopic .grouptopic-content a:hover,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content a:hover{text-decoration:underline;color:#00438A;}
.grouptopicsnew .grouptopic .grouptopic-content strong,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content strong{color:#000;}
.grouptopicsnew .grouptopic .grouptopic-content ul,.grouptopicsnew .grouptopic .grouptopic-content ol,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content ul,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content ol{list-style-position:inside;margin:0;padding:5px 14px;}
.grouptopicsnew .grouptopic .grouptopic-content ul p,.grouptopicsnew .grouptopic .grouptopic-content ol p,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content ul p,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content ol p{margin:0;}
.grouptopicsnew .grouptopic .grouptopic-content ul li,.grouptopicsnew .grouptopic .grouptopic-content ol li,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content ul li,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content ol li{line-height:160%;color:#333;font-size:13px;}
.grouptopicsnew .grouptopic .grouptopic-content img,#grouptopiccomments .grouptopiccommentnew_reply .grouptopiccomment-content img{vertical-align:top;}

/* 回帖仅自己可见 */
.locked{overflow:hidden;margin:10px 0;padding:8px 8px 8px 24px;border:1px dashed #FF9A9A;background:#FFF url('{__ROOT__}/app/group/Static/Images/locked.gif') no-repeat 6px 50%;font-size:12px;zoom:1;}
.locked:hover background-color:#F7F7F7;}
.locked strong{color:#F26C4F;}
.locked a{color:#369;}

/* 帖子标签 */
.grouptopictag{padding-left:20px;background:url('{__ROOT__}/app/group/Static/Images/tag.gif') no-repeat 0 2px;}
.grouptopictag a{color:#369;}
[/CURSCRIPT]

/**===============================
           小组公用头部
================================*/
[CURSCRIPT=group::group::show,group::group::user,group::grouptopic::view,group::grouptopic::reply,group::grouptopic::add,group::grouptopic::edit]
#groupcontent_commontop{padding: 10px 0 0;position: relative;}
.group_commontitle{border-radius: 10px 10px 0 0;height: 150px;position: relative;}
.group_commontitle .group_info{background-color: rgba(0, 0, 0, 0.5);left: 20px;overflow: hidden;padding: 7px 10px 8px;position: absolute;top: 14px;color:#fff;}
.group_commontitle .group_info a{color:#fff;}
.group_joinleave{color:#000;background:#F0F0F0;text-align:center;padding:2px 5px;font-size:12px;}
.group_commonmenu{position: absolute;bottom:-18px;left:15px;}
.group_commonmenu .nav-groupmenu li a{color:#fff;}
.group_commonmenu .nav-groupmenu li a:hover{color:green;}
.group_commonmenu .nav-groupmenu .active a{color:#999;font-weight:bold;}
[/CURSCRIPT]

/**===============================
           小组查看
================================*/
[CURSCRIPT=group::group::show]
.groupshow_thumbtopic{background-color: #FFFFFF;border: 1px solid #EEEEEE;height: 345px;margin-top: -100px;padding: 10px;position: absolute;width: 240px;}
[/CURSCRIPT]

/**===============================
           添加和编辑帖子
================================*/
[CURSCRIPT=group::grouptopic::add,group::grouptopic::edit]
.grouptopic_tabs{margin-top:10px;}
[/CURSCRIPT]

/**===============================
           帖子管理
================================*/
[CURSCRIPT=group::grouptopic::view]
a#moderate_reason{font-size:14px;line-heigth:14px;font-weight:bold;}
a#moderate_reason:hover{text-decoration:none;}
.moderatereason_title{margin-bottom:5px;}
.moderatereason_title .btn-group{background:none;margin:0px;height:5px;}

.highlight_color{background-color: #666666;background-image: url('{__ROOT__}/app/group/Static/Images/color_down.png') !important;background-position: 0 0;background-repeat: no-repeat;margin-left: 3px;width: 23px !important;}
.highlight_item{background: url('{__ROOT__}/app/group/Static/Images/color.png') repeat-x scroll 0 0 #E5E5E5;border: 1px solid #999999;box-shadow: 0 1px 0 #E5E5E5;cursor: pointer;height: 23px;margin-right: 3px;overflow: hidden;padding: 0;vertical-align: middle;}
.highlightoperating .currenthighlightstyle{background-color: #FFFFFF;border: 1px solid #999999;}
.highlightoperating a{float: left;height: 21px;line-height: 21px;margin-right: 3px;text-align: center;width: 21px !important;}
.highlightoperating_b,.highlightoperating_i,.highlightoperating_l{border: 1px solid #F1F5FA;outline: medium none;}
[/CURSCRIPT]

/**===============================
           首页和小组分类
================================*/
[CURSCRIPT=group::public::index,group::public::group]
#groupcategory h2{font-size:12px;color:#999;line-height:100%;margin-bottom:10px;text-align:left;}
#groupcategory ul{list-style:none;margin-bottom:0;margin:0}
#groupcategory label{line-height:100%;padding-top:8px;}
#groupcategory label a{font-size:12px;color:#000;}
#groupcategory li{line-height:200%;font-size:14px;padding:8px 10px;margin:0 -10px;border-top:1px solid #DDD;position:relative;overflow:auto}
#groupcategory li label{font-size:12px;color:#999;display:inline-block;width:200px;margin-right:-130px;padding-right:10px;float:left;text-align:right}
#groupcategory li span.childgroupcategory{font-size:12px;color:#999;}
#groupcategory li span.childgroupcategory{float:left;margin-left:130px}
#groupcategory li a{margin-right:10px}
[/CURSCRIPT]

/**===============================
           首页模块列表
================================*/
[CURSCRIPT=group::public::index]
.publicmodule_list li{line-height:26px;height:26px;overflow:hidden;}
.publicmodule_list_sort ul{background:url({__ROOT__}/app/group/Theme/Default/Public/Images/sort.png) 0 7px no-repeat;}
.publicmodule_list_sort ul li{padding-left:20px;}
.publicmodule_list_line li{border-bottom:1px dotted #ccc;line-height:25px;height:25px;}
/* 工具栏子分类 */
.child_groupcategory a{font-weight:normal;font-size:12px;}
[/CURSCRIPT]

/**===============================
           帖子列表
================================*/
[CURSCRIPT=group::public::newtopic,group::group::show]
.newtopic_currentmenu{color:#999999;}
.topic_list_box .num {color: #999999;line-height: 18px;text-align: center;width: 140px;text-align:center;}
.topic_list_box .num span {background: none repeat scroll 0 0 #f3f1f1;-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;display: block;float: right;height: 36px;margin: 0 0 0 10px;overflow: hidden;padding: 4px 0;width: 54px;}
.topic_list_box .num em {display: block;font-weight: 700;}
.topic_list_box .info,.info a {color: #999999;}
.topic_list_box .info span {margin-right: 10px;}
.topic_list_box .title {padding-bottom: 5px;}
.topic_list_box .title a{}
.subject {padding: 10px 0 !important;}
.topic_list_box .subject em {font-size: 14px;margin-right: 5px;}
.topic_list_box .author {width: 55px;}
.topic_list_box .author a {display: block;}
[/CURSCRIPT]

/**===============================
           标签列表
================================*/
[CURSCRIPT=group::public::newtopic]
.tags_hot{padding:15px 0;}
.tags_hot h2{font-size:14px;margin-bottom:15px;}
.tags_hot li{float:left;margin:0 5px 5px 0;}
.tags_hot li a{float:left;line-height:24px;height:24px;display:block;background:#f6f6f6;padding:0 8px;color:#333333;text-decoration:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius: 3px;white-space:nowrap;}
.tags_hot li a:hover{background:{LINK_COLOR};color:#fff;}
.tags_hot li {list-style: none outside none;}
[/CURSCRIPT]

/**===============================
           热门帖子列表
================================*/
[CURSCRIPT=group::public::newtopic]
.grouphottopic_titles {word-wrap: break-word;}
.grouphottopic_titles li {border-bottom: 1px dashed #CCCCCC;color: #999999;overflow: hidden;padding: 6px 0;}
.grouphottopic_titles h3 {color: #666666;float: left;font-size:12px;margin:0;font-weight:normal;}
.grouphottopic_commentnum {color: #999999;float: right;}
.grouphottopic_userinfo {color: #999999;overflow: hidden;width: 100%;margin:0;}
.grouphottopic_userinfo a {color: #999999;}
[/CURSCRIPT]

/**===============================
           新贴右边用户栏
================================*/
[CURSCRIPT=group::public::newtopic]
.group_sidebar_userinfo{
	padding:15px 0 0;
}
[/CURSCRIPT]

/**===============================
           小组列表
================================*/
[CURSCRIPT=group::public::index]
.grouplist_header{ color:#555555;font-weight:bold;margin: 0 0 18px;background:url('{__ROOT__}/app/group/Theme/Default/Public/Images/grouplist_header.png') repeat-x scroll 0 0 #EAF1F7;border-bottom: 1px solid #dddddd;border-top: 1px solid #dddddd;border-right: 1px solid #dddddd;border-left: 1px solid #dddddd;color: #1B72AF;overflow: hidden;padding: 5px 10px;-webkit-border-radius: 3px 3px 0px 0px;-moz-border-radius: 3px 3px 0px 0px;border-radius: 3px 3px 0px 0px;}
.grouplist_groupname{color: #555555;}
.grouplist_groupname a {text-decoration:none;color:#000;}
.grouplist_groupname a:hover {text-decoration:underline;color:#000000;}
.grouplist_td{/* for ie6 */padding:0px;}
.grouplist_index{text-align : left;border-bottom: #dddddd 1px dashed;height: 18px;color:#555555;}
.grouptopicone:hover{background-color: none;}
.grouplist_borderbottom {border-bottom: 1px dashed #dddddd;}
.grouplist_namelink a {text-decoration:none;font-weight:bold;color:#444444;}
.grouplist_namelink a:hover {font-weight:bold;text-decoration:underline;color:#000;}
.grouplist_todaynum{color:{NOTICETEXT_COLOR};}
.grouplist_description{color:#444444;}
[/CURSCRIPT]
