/* [$WindsForce] (C)WindsForce TEAM Since 2012.03.17.
   WindsForce 安装程序CSS样式重写($Liu.XiangMin)*/

/**===============================
               基本
================================*/
body{background:#ffffff;color:#333333;}
a{color:#037c1d;}
a:hover{color:#037c1d;}

/**===============================
           部分颜色块重写和大小约束
================================*/
.nav-list > .active > a,.nav-list > .active > a:hover{background-color:#378C32;}
.badge a,.label a{color:#fff;}
input:focus,textarea:focus{border-color:#61c361;outline:0;outline:thin dotted 9;}
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus,select:focus{outline:thin dotted #333333;}
.nav-pills > .active > a,.nav-pills > .active > a:hover{color:#ffffff;background-color:#378C32;}
.active .dropdown-menu a{background:#fff;}
.dropdown-menu a{color:#333333;}
.dropdown-menu a:hover{color:#ffffff;text-decoration:none;background-color:#378C32;}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover{color:#ffffff;text-decoration:none;background-color:#378C32;}
table hr{width:100%;height:1px;border:none;border-top:1px dashed #E6E7E1;}
.popover-inner{width:600px;}

/**===============================
           头部和头部菜单
================================*/
/* 菜单 */
#header{;}
#header a.brand{color:#FFFFFF;}
#header .navbar-inner{color:#FFFFFF;background:#52a452;filter:none;_height:40px;height:40px;overflow:visible;}
#header .navbar .divider-vertical{width:1px;height:40px;margin:0 9px;overflow:hidden;background-color:#378C32;border-right:1px solid #52A452;}
#header .navbar-inner .nav .active a{color:#037c1d;background:#378C32;}
#header .navbar-inner .nav .active a:hover{background:#378C32;}
#header .navbar-inner .nav a{color:#FFFFFF;}
#header .navbar-inner .nav a:hover{color:#FFFFFF;background:#378C32;}
#header .navbar-inner .nav .active a{color:#fff;}
#header .navbar-inner .nav .active .dropdown-menu a{background-color:#FFFFFF;}
#header .navbar-inner .nav .dropdown-menu a{color:#333333;}
#header .navbar-inner .nav .dropdown-menu a:hover{color:#FFFFFF;text-decoration:none;background-color:#378C32;}
#header .dropdown-menu li > a:hover,#header .dropdown-menu .active > a,#header .dropdown-menu .active > a:hover{color:#FFFFFF;text-decoration:none;background-color:#378C32;}
