/*
[name]橙色[/name]
[iconbgcolor]#E77B0F[/iconbgcolor]
Description: WindsForce! Extend Stylecolor
*/

/**===============================
           重新定义基础
================================*/
body{background:#E77B0F;color:#444;}
a{color: #000;}
a:hover {color: #E77B0F;}

/**===============================
           重新定义一些颜色
================================*/
.label-success{background-color: #E77B0F;}
.label-success[href]{background-color: #fcf0e4;}
.alert-success{color: #d36c05;background-color: #fcf0e4;border-color: #f7c695;}
.label a,.badge a{color:#fff;}
.badge-success{background:#d36c05;}
/* color */
.nav-list > .active > a,.nav-list > .active > a:hover {background-color:#E77B0F;}
input:focus,textarea:focus {border-color: #E77B0F;}
.nav-pills > .active > a,.nav-pills > .active > a:hover {background-color: #E77B0F;}
.dropdown-menu a:hover{background-color: #E77B0F;}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {background-color: #E77B0F;}
/* 按钮 */
.btn-success {background-color: #E77B0F;*background-color: #E77B0F;background-image: -ms-linear-gradient(top, #fdc48c, #E77B0F);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdc48c), to(#E77B0F));background-image: -webkit-linear-gradient(top, #fdc48c, #E77B0F);background-image: -o-linear-gradient(top, #fdc48c, #E77B0F);background-image: -moz-linear-gradient(top, #fdc48c, #E77B0F);background-image: linear-gradient(top, #fdc48c, #E77B0F);background-repeat: repeat-x;border-color: #E77B0F #E77B0F #734e28;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fdc48c', endColorstr='#E77B0F', GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled] {background-color: #E77B0F;*background-color: #a35f1b;}
.btn-success:active,.btn-success.active {background-color: #b36516 \9;}

/**===============================
           重新定义头部和头部菜单
================================*/
#header .navbar-inner{color:#E77B0F;background:#f5f5f5;filter:none;_height:40px;height:40px;overflow:visible;margin-top:10px;}
#header .navbar .divider-vertical{width:1px;height:40px;margin:0 9px;overflow:hidden;background-color:#F5F5F5;border-right:1px solid #F5F5F5;}
#header .navbar-inner .nav .active a{color:#E77B0F;background:#E77B0F;}
#header .navbar-inner .nav .active a:hover{background:#E77B0F;}
#header .navbar-inner .nav a{color:#E77B0F;}#header .navbar-inner .nav a:hover{color:#FFF;background:#E77B0F;}#header .navbar-inner .nav .active a{color:#fff;}
#header .navbar-inner .nav .active .dropdown-menu a{background-color:#E77B0F;}
#header .navbar-inner .nav .dropdown-menu a{color:#444;}
#header .navbar-inner .nav .dropdown-menu a:hover{color:#FFF;text-decoration:none;background-color:#E77B0F;}
#header .dropdown-menu li > a:hover,#header .dropdown-menu .active > a,#header .dropdown-menu .active > a:hover{color:#FFF;text-decoration:none;background-color:#E77B0F;}
#header .navbar-search .search-query{color:#444;background-color:#FFF;border:1px solid #E77B0F;}
#header .navbar-search .search-query:-moz-placeholder{color:#444;}
#header .navbar-search .search-query::-webkit-input-placeholder{color:#444;}
#header .navbar-search .search-query:focus,#header .navbar-search .search-query.focused{color:#444;text-shadow:0 1px 0 #FFF;background-color:#FFF;}

#header .navbar-inner .nav .active a {background: #ddd;color: #E77B0F;}
#header .navbar-inner .nav .active a:hover,#header .navbar-inner .nav a:hover{background: #ddd;color: #E77B0F;}

#header .navbar-inner .nav .active .dropdown-menu a {background:none;}
#header .navbar-inner .nav .active .dropdown-menu a:hover{background: #ddd;height:18px;color: #E77B0F;}

/**===============================
           重写底部
================================*/
#footer{background: none;color:#fff;}
#footer a{color:#fff;}

/**===============================
           重写通用标签
================================*/
a.common_tag{background:#d0cbcb;color:#fff;}
a.common_tag:hover{background:#E77B0F;}

/**===============================
           重写系统主题元素CSS
================================*/
.WindsforceSystem-link_color,.WindsforceSystem-14{color:#E77B0F;}/* 14 */
.WindsforceSystem-interval_line_color-border,.WindsforceSystem-35{}/* 35 */
.WindsforceSystem-common_background_color,.WindsforceSystem-37{background-color:#fcf0e4;}/* 37 */
.WindsforceSystem-special_bg,.WindsforceSystem-39{background-color:#E77B0F;}/* 39 */
