/*
File Name: common.css
File Type: 必需
Description: 本主题基本css元素
*/

/**===============================
           基础
================================*/
html{-webkit-text-size-adjust:none;}
body{padding-top: 60px;padding-bottom: 40px;margin: 0px;padding: 0px;{BG_CODE};color:{NORMAL_COLOR};}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,fieldset,div,strong,label,em{border:0 none;}
/*ul,ol,li{list-style:none;}*/
.shadow{box-shadow: rgba(200,200,20);-webkit-box-shadow: rgba(200,200,20);-khtml-box-shadow: rgba(200,200,200,1) 0 2px 18px;}
.transition{transition: color .1s linear .1s;-moz-transition-property: color;-moz-transition-timing-function: ease-in;-moz-transition-duration: 1s;-moz-transition-delay: 0;-webkit-transition-property: color;-webkit-transition-timing-function: ease-in;-webkit-transition-duration: 1s;-webkit-transition-delay: 0;}
body{background-position: top center;}
a{color: {LINK_COLOR};}
a:hover {color: {HIGHLIGHTLINK_COLOR};}
a:hover {background:{HIGHLIGHTLINK_COLOR};color: #FFF;}
hr{margin: 3px 0 3px 0px;width:100%;color:{INTERVAL_LINE_COLOR};}
ul,li{margin:0;padding:0;}
/* 竖直分割线 */
.pipe{margin:0 5px;color:{INTERVAL_LINE_COLOR};}
p{ table-layout:fixed; word-break: break-all; overflow:hidden;}

/**===============================
           全局样式
================================*/
.red{color:red;}
.none{display:none;}
.space{margin:10px 0px;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{display:inline-block;}
*html.clear{height:1%;}
.left{ float:left !important;display:inline;}
.right{ float:right !important;display:inline; }

/**===============================
           容器
================================*/
#content .container{background:#fff;padding:10px;margin-bottom:15px;margin-top:13px;-webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius:5px;}

/**===============================
           通用下拉菜单
================================*/
#site-logo a:hover{background:none;}



	#top_header {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 2px;
		color:#888;
		color: rgba(255,255,255,.5);
		padding: 0px 0px;
		letter-spacing: 1px;
		word-spacing: 1px;
		clear:both;
	}

/**===============================
           消息样式
================================*/
/* AJAX消息 && 内页结果效果 */
#result,.DyhbAjaxResult{border:2px ridge #000; background-color:#eee;line-height:20px;max-width:250px;width: expression(this.width>250?"250":true);overflow: auto; background-color: #ffffff;-webkit-border-radius: 6px;-moz-border-radius: 6px; border-radius: 6px;-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip: padding-box; -moz-background-clip: padding-box;background-clip: padding-box;margin-bottom:10px;}
.DyhbAjaxResult{position:fixed;top:50%;margin-top:-100px;left:50%;margin-left:-100px; z-index: 1050;padding:15px 50px;border: 5px solid #999; border: 5px solid rgba(0, 0, 0, 0.2);*border: 5px solid #999;}
#result{padding:5px 20px;border: 1px solid #999; border: 1px solid rgba(0, 0, 0, 0.2);*border: 1px solid #999;}
* html div.DyhbAjaxResult{position:absolute; right:16px;}
#result ul li,.DyhbAjaxResult ul li{list-style:none;line-height:20px;}

/**===============================
           前台主题和语言包切换
================================*/
#style_switch_box{padding:0px 20px 5px 0px;}
#style_switch{}
#style_switch li{float:left;padding-left:5px;list-style:none;}
#style_switch a{float:left;width:10px;height:10px;border:1px solid #DDD;background:#FFF;line-height:100px;overflow:hidden;}
#style_switch a:hover,#style_switch .current a{border-color:#FFF;}
#style_switch .current a{margin-top:0px;border-width:1px;}

/*a#extendstyle_select{width:12px;background:url({__ROOT__}/Public/images/common/style.gif) no-repeat 50% 50%;text-indent:-9999px;overflow:hidden;}*/
a#extendstyle_select:hover{text-decoration:none;}

a#lang_select:hover{}
#lang_select_box ul li a:hover{}

/**===============================
           列表排序
================================*/
table thead th .order_desc { padding-right: 8px; background: url({IMG_DIR}/order.gif) no-repeat 100% 50%; }
table thead th .order_asc { padding-right: 8px; background: url({IMG_DIR}/order_asc.gif) no-repeat 100% 50%; }

/**===============================
           回到顶部
================================*/
.back-to-top{display: none;width: 18px; line-height: 1.2;padding: 5px 0; background-color: #000; color: #fff;
 font-size: 12px;text-align: center; position: fixed;_position: absolute;right: 10px;bottom: 100px; _bottom: "auto"; cursor: pointer; opacity: 0.6;filter: Alpha(opacity=60);}

/**===============================
           底部
================================*/
#footer{color: {FOOTER_TEXT_COLOR};text-align: left;margin-top: 20px;margin:auto;padding: 25px 0px 10px 0px;{FOOTER_BG_CODE};}
#footer a{color:{FOOTER_TEXT_COLOR}}
#footer a:hover{color:#FFF;}
#footer .footer_debug{font-size:10px;color:{LIGHT_TEXTCOLOR};}

/**===============================
           分页条
================================*/
.pagenav {padding:3px 0px;margin:3px 0px;margin: 10px 0 5px 0;}
.pagenav a {border: #dedfde 1px solid; padding:2px 6px 2px 6px; margin-right: 3px; text-decoration: none;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.pagenav a:hover {background-image: none; background-color: #f5f5f5;border: #ddd 1px solid;}
.pagenav a:active {color:#999999; background-image: none; background-color: #f5f5f5;border: #000 1px solid;}
.pagenav span.current {font-weight: bold;color:#999999;background-color: #f5f5f5; border: #ddd 1px solid;padding:2px 6px 2px 6px; margin-right: 3px; -moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.pagenav span.disabled {color: #999999; background-color: #f5f5f5; border: #eee 1px solid;padding:2px 6px 2px 6px;margin-right: 3px; -moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}

/**===============================
           Ajax分页加载消息框
================================*/
.loadinghomefreshchildcomments{display:none;background:{LIGHT_TEXTCOLOR};text-align:center;width: 100%; color: #FFF; font-size: 22px; height:45px;line-height:45px;margin:10px; }

/**===============================
           社会化登录框
================================*/
.socialogin_box{text-align:center;}
.socialogin_content{text-align:center;width:300px;margin:auto;}

/**===============================
           媒体
================================*/
.ubb_media_box img{max-width: {CONTENT_WIDTH};width:expression(this.width>'{CONTENT_WIDTH}'?"{CONTENT_WIDTH}":this.width);overflow:hidden;}
.ubb_media_box{font-size:11px;color:{LIGHT_TEXTCOLOR};}
.ubb_media_box a:link,.ubb_media_box a:visited{color:{LIGHT_TEXTCOLOR};}
.ubb_media_box a:hover{color:#555555;text-decoration:none;}

/**===============================
           通用容器和列表
================================*/
.commonbox{margin-bottom:15px;}
.commonbox .commonboxtitle{border-bottom: 1px solid #EEEEEE;font-size: 16px;margin-bottom: 10px;padding-bottom: 5px;font-weight:bold;}
.commonlist{}
.commonlist ul{}
.commonlist ul li{list-style:none;margin-left:-25px;padding:5px;border-bottom:dashed 1px #DDDDDD;}

/* 第二种简洁风格容器 */
.commonbox_mini{background-color:#fff;padding:10px 10px 5px 10px;margin:0 0 10px 0;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 0px 2px rgba(0,0,0,0.05);-moz-box-shadow:0 0px 2px rgba(0,0,0,0.1);box-shadow:0 0px 2px rgba(0,0,0,0.05);}
.commonbox_mini h2.title{font-size:12px;margin:0 -10px;padding:0 10px;margin-bottom:8px;color:#999;line-height:100%;border-bottom:1px solid #ddd;padding-bottom:8px;}
.commonbox_mini_gray{background:#F5F5F5;}

/**===============================
           通用签名
================================*/
.common_usersign{background:url("{__ROOT__}/Public/images/common/signature.png") no-repeat;padding-top:20px;margin-bottom:15px;}

/**===============================
           通用标签
================================*/
a.common_tag{line-height:24px;height:24px;background:#E8F2F9;padding:4px 8px;color:#333333;text-decoration:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius: 3px;white-space:nowrap;}
a.common_tag:hover{background:{LINK_COLOR};color:#fff;}
