/*
Style Name: 牛仔社区
Style URI: http://doyouhaobaby.net/
Description: 牛仔社区风格
Author: 小牛哥Dyhb
Author URI: http://doyouhaobaby.net/space/3.html
Version: 1.1
License: BSD
License URI: http://doyouhaobaby.net/page/license.html
Tags: jeans, front, simple
*/
