/*
File Name: windsforce_append.css
File Type: 非必需
Description: 系统数据库支持CSS样式扩展
*/

/**===============================
           重写系统主题元素CSS
================================*/
.WindsforceSystem-link_color,.WindsforceSystem-14{color:#323c47;}/* 14 */
.WindsforceSystem-special_bg,.WindsforceSystem-39{background-color:#323c47;}/* 39 */
