/*
Style Name: 时尚社区
Style URI: http://doyouhaobaby.net/
Description: 时尚社区风格
Author: 小牛哥Dyhb
Author URI: http://doyouhaobaby.net/space/3.html
Version: 1.0.1
License: BSD
License URI: http://doyouhaobaby.net/page/license.html
Tags: fashion, front, simple
*/
