/*
Style Name: 简单主题
Style URI: http://doyouhaobaby.net/
Description: 这是由WindsForce 的系统自带模板
Author: 小牛哥Dyhb
Author URI: http://doyouhaobaby.net
Version: 1.0
License: BSD
License URI: http://doyouhaobaby.net/page/license.html
Tags: admin, simplde
*/

/** 导入样式进行重写 */
@import "../../../Default/Public/Css/style.css";
