/*
File Name: common_append.css
File Type: 非必需
Description: common append
*/

/**===============================
           重写基础元素
================================*/
html{background: #FFF;}
a:link,a:hover,a:active{color: #37a;text-decoration: none}
a:hover{text-decoration:underline;}
a img{border-width: 0;vertical-align: middle;}

/**===============================
           重写头部
================================*/
#top_header{height:25px;background:#545652;}
#top_header a.topheader_normalmenu{color:#D5D5D5;}
#top_header a.topheader_normalmenu:hover{color:#FFF;background:none;text-decoration:none;}

.navbar .divider-vertical {background-color: #F7F7F7;border-right: 1px solid #F7F7F7;}
#header .navbar-inner {background-image: none;box-shadow: none;}

/* 搜索 */
#header .navbar-search .search-query {border: 1px solid #ddd;}

/**===============================
           重写底部
================================*/
#footer{color: #999999;padding-top: 20px;padding-bottom: 20px;margin-bottom: 15px;}
#footer a{color: #3377AA;}
#footer a:hover{color: #3377AA;text-decoration: underline;}

/**===============================
           重新定义一些颜色
================================*/
.label-success{background-color: #44AF5d;}
.label-success[href]{background-color: #3FA156;}
.alert-success{color: #333333;background-color: #F7F7F7;border-color: #F7F7F7;}
.label a,.badge a{color:#fff;}
.badge-success{background:#44AF5d;}
/* color */
.nav-list > .active > a,.nav-list > .active > a:hover {background-color:#44AF5d;}
input:focus,textarea:focus {border-color: #44AF5d;}
.nav-pills > .active > a,.nav-pills > .active > a:hover {background-color: #44AF5d;}
.dropdown-menu a:hover{background-color: #44AF5d;}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {background-color: #44AF5d;}
/* 按钮 */
.btn-success,.d-state-highlight{background-color: #3FA156;*background-color: #3FA156;background-image: none;border-color: none;}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{background-color: #44AF5d;*background-color: #44AF5d;}
.btn-success:active,.btn-success.active{background-color: #44AF5d;}

.btn{background-image:none;}
.btn-group > .dropdown-toggle {box-shadow:none;}
a.btn-success{color:#fff;}

.well {background-color: #F7F7F7;border: 1px solid #F7F7F7;border-radius: 4px 4px 4px 4px;box-shadow: none;}
.breadcrumb {background:#F7F7F7;background-image: none;border: none;box-shadow: none;}

/**===============================
           重写通用标签
================================*/
a.common_tag{background:#FAE9DA;color:#CA6445;}
a.common_tag:hover{background:#FCEFE3;color:#D9896A;text-decoration:none;}
