/*
Style Name: Simple社区
Style URI: http://doyouhaobaby.net/
Description: Simple社区风格
Author: 小牛哥Dyhb
Author URI: http://doyouhaobaby.net/space/3.html
Version: 1.1
License: BSD
License URI: http://doyouhaobaby.net/page/license.html
Tags: front, simple
*/
