/*
File Name: common_append.css
File Type: 非必需
Description: common append
*/

/**===============================
           重写头部
================================*/
#header .navbar-inner .nav .active a {background: #ddd;color: #244D8F;}
#header .navbar-inner .nav .active a:hover,#header .navbar-inner .nav a:hover{background: #ddd;color: #244D8F;}
#header .navbar-inner .nav .active .dropdown-menu a {background:none;}
#header .navbar-inner .nav .active .dropdown-menu a:hover{background: #ddd;height:18px;color: #244D8F;}

/* 搜索 */
#header .navbar-search .search-query {border: 1px solid #ddd;}

/**===============================
           重新定义一些颜色
================================*/
.label-success{background-color: #244D8F;}
.label-success[href]{background-color: #2e7bf6;}
.alert-success{color: #4f74b0;background-color: #dce5fa;border-color: #c3defa;}
.label a,.badge a{color:#fff;}
.badge-success{background:#244D8F;}
/* color */
.nav-list > .active > a,.nav-list > .active > a:hover {background-color:#244D8F;}
input:focus,textarea:focus {border-color: #244D8F;}
.nav-pills > .active > a,.nav-pills > .active > a:hover {background-color: #244D8F;}
.dropdown-menu a:hover{background-color: #244D8F;}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {background-color: #244D8F;}
DDDDDD

/* 按钮 */
.btn-success,.d-state-highlight{background-color: #2976f3;*background-color: #1465e8;background-image: -ms-linear-gradient(top, #4f8ef5, #1465e8);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4f8ef5), to(#1465e8));background-image: -webkit-linear-gradient(top, #4f8ef5, #1465e8);background-image: -o-linear-gradient(top, #4f8ef5, #1465e8);background-image: -moz-linear-gradient(top, #4f8ef5, #1465e8);background-image: linear-gradient(top, #4f8ef5, #1465e8);background-repeat: repeat-x;border-color: #1465e8 #1465e8 #0b44a0;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4f8ef5', endColorstr='#1465e8', GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{background-color: #1465e8;*background-color: #1b4b98;}
.btn-success:active,.btn-success.active{background-color: #164eaa \9;}

/**===============================
           重写通用标签
================================*/
a.common_tag{background:#ddd;color:#999;}
a.common_tag:hover{background:#244D8F;}
