/*
[name]棕色[/name]
[iconbgcolor]#996633[/iconbgcolor]
Description: WindsForce! Extend Stylecolor
*/

/**===============================
           重新定义基础
================================*/
body{background:#996633;color:#444;}
a{color: #000;}
a:hover {color: #996633;}

/**===============================
           重新定义一些颜色
================================*/
.label-success{background-color: #996633;}
.label-success[href]{background-color: #ec953f;}
.alert-success{color: #a0754b;background-color: #f5dabe;border-color: #eed3d7;}
.label a,.badge a{color:#fff;}
.badge-success{background:#a0754b;}
/* color */
.nav-list > .active > a,.nav-list > .active > a:hover {background-color:#996633;}
input:focus,textarea:focus {border-color: #996633;}
.nav-pills > .active > a,.nav-pills > .active > a:hover {background-color: #996633;}
.dropdown-menu a:hover{background-color: #996633;}
.dropdown-menu li > a:hover,.dropdown-menu .active > a,.dropdown-menu .active > a:hover {background-color: #996633;}
/* 按钮 */
.btn-success {background-color: #996633;*background-color: #996633;background-image: -ms-linear-gradient(top, #de872f, #996633);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#de872f), to(#996633));background-image: -webkit-linear-gradient(top, #de872f, #996633);background-image: -o-linear-gradient(top, #de872f, #996633);background-image: -moz-linear-gradient(top, #de872f, #996633);background-image: linear-gradient(top, #de872f, #996633);background-repeat: repeat-x;border-color: #996633 #996633 #734e28;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:dximagetransform.microsoft.gradient(startColorstr='#de872f', endColorstr='#996633', GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}
.btn-success:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled] {background-color: #996633;*background-color: #a35f1b;}
.btn-success:active,.btn-success.active {background-color: #b36516 \9;}

/**===============================
           重新定义头部和头部菜单
================================*/
#header .navbar-inner{color:#996633;background:#f5f5f5;filter:none;_height:40px;height:40px;overflow:visible;margin-top:10px;}
#header .navbar .divider-vertical{width:1px;height:40px;margin:0 9px;overflow:hidden;background-color:#F5F5F5;border-right:1px solid #F5F5F5;}
#header .navbar-inner .nav .active a{color:#996633;background:#996633;}
#header .navbar-inner .nav .active a:hover{background:#996633;}
#header .navbar-inner .nav a{color:#996633;}#header .navbar-inner .nav a:hover{color:#FFF;background:#996633;}#header .navbar-inner .nav .active a{color:#fff;}
#header .navbar-inner .nav .active .dropdown-menu a{background-color:#996633;}
#header .navbar-inner .nav .dropdown-menu a{color:#444;}
#header .navbar-inner .nav .dropdown-menu a:hover{color:#FFF;text-decoration:none;background-color:#996633;}
#header .dropdown-menu li > a:hover,#header .dropdown-menu .active > a,#header .dropdown-menu .active > a:hover{color:#FFF;text-decoration:none;background-color:#996633;}
#header .navbar-search .search-query{color:#444;background-color:#FFF;border:1px solid #996633;}
#header .navbar-search .search-query:-moz-placeholder{color:#444;}
#header .navbar-search .search-query::-webkit-input-placeholder{color:#444;}
#header .navbar-search .search-query:focus,#header .navbar-search .search-query.focused{color:#444;text-shadow:0 1px 0 #FFF;background-color:#FFF;}

#header .navbar-inner .nav .active a {background: #ddd;color: #996633;}
#header .navbar-inner .nav .active a:hover,#header .navbar-inner .nav a:hover{background: #ddd;color: #996633;}

#header .navbar-inner .nav .active .dropdown-menu a {background:none;}
#header .navbar-inner .nav .active .dropdown-menu a:hover{background: #ddd;height:18px;color: #996633;}

/**===============================
           重写底部
================================*/
#footer{background: none;color:#fff;}
#footer a{color:#fff;}

/**===============================
           重写通用标签
================================*/
a.common_tag{background:#f5dabe;color:#fff;}
a.common_tag:hover{background:#996633;}

/**===============================
           重写系统主题元素CSS
================================*/
.WindsforceSystem-link_color,.WindsforceSystem-14{color:#996633;}/* 14 */
.WindsforceSystem-interval_line_color-border,.WindsforceSystem-35{}/* 35 */
.WindsforceSystem-common_background_color,.WindsforceSystem-37{background-color:#f5dabe;}/* 37 */
.WindsforceSystem-special_bg,.WindsforceSystem-39{background-color:#996633;}/* 39 */
